
#nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    right: 5%;
    background-color: rgba(0, 23, 19, 0.9);
    background-size: 100%;
}

#nav-links ul li a {
        color: floralwhite;
        text-decoration: none;
        font-size: 13px;
        font-family: 'Book Antiqua';
}

#nav-links ul li:hover {
        border-bottom: solid;
        color: #f44336;
        transition: .1s;
}
.list1 li {
    position: relative;
    top: 30%;
    left: 30%;
    margin: 10px;
    padding-bottom: 10px;
    border: solid;
    border-width: 80px;
    color: bisque;
}

.list1 ul {
    border: 20px;
    border-color: aqua;
    position: relative;
    top: 50%;
}

input:hover {
    box-shadow: 50px;
    border-color: aqua;
}

input {
    border-radius: 5px;
    position: absolute;
    width: 70%;
    height: 30px;
    top: 70%;
    left: 15%;
    text-align: center;
    background-color: white;
    text-decoration-color: black;
    font-size: 16px;
    font-family: monospace;
    transition: all 350ms;
}
#add {
    position:absolute;
    top:60%;
    left:45%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding-right: 10px;
    background: white;
    color: chartreuse;
    transition: .5s; 
    display: inline-block;
}

#add:hover {
        color: cadetblue;
        background-color: rgba(237,237,237,.4);
}

#de {
    position:absolute;
    top:60%;
    left:50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding-top: 10px;
    justify-content: space-between;
    background: white;
    display: inline-block;
    color: chartreuse;
}
#de:hover {
    color: cadetblue;
    background-color: rgba(237,237,237,.4);
}
*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgb(4,9,30,0.7)),url(movies/1.jpg);
    background-size:cover;
    background-position:center;
}
.fixed{
    position: fixed;
    left: 5%;
    z-index: 12;
    background-color: rgba(0, 23, 19, 0.9);
    background-size:100%;
    width:100%;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    right: 5%;
    background-color: rgba(0, 23, 19, 0.9);
    background-size: 100%;
}
.nav-links ul li a{
    color:floralwhite;
    text-decoration:none;
    font-size:13px;
    font-family:'Book Antiqua';


}
.nav-links ul li:hover {
    border-bottom:solid;
    color:#f44336;
    transition: .1s;
}
.list1 li{
    position:relative;
    display:block;
    padding:10px 20px;
    margin-bottom:10px;
    background-color:white;
    border:2px solid;
}
li{
    position: absolute;
    display:table-column;
    top: 20%;
    background: white;
    color: black;
    margin-bottom:10px;
    width: 60%;
    left: 20%;
    height: 20px;
    font-size: 16px;
    border-radius:10px;
} 